<app-modal-input [modalInputValid]="modalInputValid" (confirm)="confirm($event)" (dismiss)="dismiss($event)">
  <span class="title">{{ title }}</span>
  <form class="body form-horizontal" [formGroup]="form" autocomplete="on" novalidate>
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>{{ label }}</label>
      <div class="input-group col-md-8">
        <input
          class="form-control"
          type="text"
          formControlName="input"
          [owlDateTime]="dt"
          i18n-placeholder
          placeholder="Date and Time"
          ngbAutoFocus
        />
        <owl-date-time #dt></owl-date-time>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" [owlDateTimeTrigger]="dt">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-md-8 offset-3" *ngIf="input.invalid && input.touched">
        <div class="text-danger small" *ngIf="input.errors.required" i18n>
          Please enter a date and time
        </div>
        <div class="text-danger small" *ngIf="input.errors.owlDateTimeParse" i18n>
          Please enter a valid date and time
        </div>
      </div>
    </div>
  </form>
</app-modal-input>
