<app-entity-filters class="mb-2" [useNameFilter]="true" (filters)="onFiltersUpdated($event)">
</app-entity-filters>

<div class="row">
  <div class="col-sm-12 mt-2">
    <div class="card">
      <div class="card-header bg-default">
        <mat-icon class="warning-icon">settings</mat-icon>
        <span class="mr-1" i18n>Memberships</span>

        <app-dropdown-menu
          [menuItems]="menuItems"
          buttonClass="btn btn-sm btn-outline-primary"
          placement="bottom-right"
        ></app-dropdown-menu>
      </div>

      <div class="card-body" *ngIf="isLoading$ | async">
        <div class="card-text">
          <div class="alert alert-warning" role="alert">
            <app-spinner name="studies" [show]="isLoading$ | async" i18n>
              Loading...
            </app-spinner>
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="hasNoEntitiesToDisplay$ | async">
        <div class="card-text">
          <div class="alert alert-warning" membership="alert">
            <mat-icon>warning</mat-icon>
            <ng-container i18n>
              No memberships have been added yet.
            </ng-container>
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="hasNoResultsToDisplay$ | async">
        <div class="card-text">
          <div class="alert alert-warning" membership="alert">
            <mat-icon>warning</mat-icon>
            <ng-container i18n>
              There are no memberships that match your criteria.
            </ng-container>
          </div>
        </div>
      </div>

      <ng-container *ngIf="memberships$ | async; let memberships">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let membership of memberships">
            <div class="row">
              <div class="col-md-12">
                <a [routerLink]="['/admin/access/memberships', membership.slug]">
                  <mat-icon class="warning-icon">settings</mat-icon>
                  <strong>{{ membership.name }}</strong>
                </a>
              </div>
            </div>
            <div class="row" *ngIf="membership.description">
              <div class="col-md-12">
                <small class="text-info">
                  {{ membership.description | truncate: 100 }}
                </small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <app-entity-status
                  [timeAdded]="membership.timeAdded"
                  [timeModified]="membership.timeModified"
                  [useBadges]="false"
                >
                </app-entity-status>
              </div>
            </div>
          </li>
        </ul>
      </ng-container>

      <div class="card-footer" *ngIf="(maxPages$ | async) > 1">
        <ngb-pagination
          size="sm"
          [collectionSize]="membershipPageInfo.total"
          [(page)]="currentPage"
          [maxSize]="membershipsLimit"
          [pageSize]="membershipsLimit"
          [rotate]="false"
          [boundaryLinks]="true"
          aria-label="Default pagination"
          (pageChange)="paginationPageChanged($event)"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
