<app-shipments-table-view
  [shipments]="shipments$ | async"
  [mode]="mode"
  [numPages]="maxPages$ | async"
  [totalShipments]="totalShipments$ | async"
  [loading]="isLoading$ | async"
  (sortBy)="sortBy($event)"
  (filterByCourierName)="filterByCourierName($event)"
  (filterByTrackingNumber)="filterByTrackingNumber($event)"
  (filterByState)="filterByState($event)"
  (pageChanged)="paginationPageChange($event)"
  (viewShipment)="shipmentView($event)"
  (removeShipment)="shipmentRemove($event)"
>
</app-shipments-table-view>
