<app-paged-entity-selector
  [pageInfo]="pageInfo$ | async"
  [isLoading]="isLoading$ | async"
  [entitiesLimit]="centresLimit"
  [(page)]="currentPage"
  (pageChange)="paginationPageChange()"
>
  <span heading i18n>Shipping Centres</span>

  <span loadingMessage i18n>Loading...</span>

  <ng-template let-entity>
    <li class="list-group-item" *ngIf="entity">
      <a [routerLink]="" (click)="!!centreSelected(entity)">
        <small>{{ entity.name }}</small>
      </a>
    </li>
  </ng-template>

  <span noEntitiesToDisplay i18n>There are no centres stored in the system</span>

  <span noResultsToDisplay i18n>There are no centres names that match your criteria</span>

  <p footer>
    <app-filter-value-input (valueChanged)="nameFilterChanged($event)">
      <span class="title" i18n>Name filter:</span>
    </app-filter-value-input>
  </p>
</app-paged-entity-selector>
