<app-entity-filters
  class="mb-2"
  [useNameFilter]="true"
  [stateData]="stateData"
  (filters)="onFiltersUpdated($event)"
>
</app-entity-filters>

<div class="row">
  <div class="col-sm-12 mt-2">
    <div class="card">
      <div class="card-header bg-default">
        <app-centre-counts [countData]="centreCountData$ | async"> </app-centre-counts>

        <app-dropdown-menu
          [menuItems]="menuItems"
          buttonClass="btn btn-sm btn-outline-primary"
          placement="bottom-right"
        ></app-dropdown-menu>
      </div>

      <div class="card-body" *ngIf="isLoading$ | async">
        <div class="card-text">
          <div class="alert alert-warning" role="alert">
            <app-spinner name="centres" [show]="isLoading$ | async" i18n>
              Loading...
            </app-spinner>
          </div>
        </div>
      </div>

      <ng-container *ngIf="centrePageInfo$ | async; let centrePageInfo">
        <div class="card-body" *ngIf="centrePageInfo.hasNoEntitiesToDisplay">
          <div class="card-text">
            <div class="alert alert-warning" role="alert">
              <mat-icon>warning</mat-icon>
              <ng-container i18n>
                No centres have been added yet.
              </ng-container>
            </div>
          </div>
        </div>

        <div class="card-body" *ngIf="centrePageInfo.hasNoResultsToDisplay">
          <div class="card-text">
            <div class="alert alert-warning" role="alert">
              <mat-icon>warning</mat-icon>
              <ng-container i18n>
                There are no centres that match your criteria.
              </ng-container>
            </div>
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let centre of centres$ | async">
            <app-entity-summary
              [entity]="centre"
              [icon]="centre.stateIcon()"
              [iconClass]="centre.stateIconClass()"
              (selected)="centreSelected($event)"
            >
            </app-entity-summary>
          </li>
        </ul>

        <div class="card-footer" *ngIf="centrePageInfo.hasResultsToDisplay">
          <ngb-pagination
            size="sm"
            [collectionSize]="centrePageInfo.total"
            [(page)]="currentPage"
            [maxSize]="centresLimit"
            [pageSize]="centresLimit"
            [rotate]="false"
            [boundaryLinks]="true"
            aria-label="Default pagination"
            (pageChange)="paginationPageChanged($event)"
          >
          </ngb-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</div>
