<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1 i18n>Collection</h1>
</div>

<ng-container *ngIf="(isLoading$ | async) === false; else showLoading">
  <ng-container *ngIf="haveCollectionStudies$ | async; else noCollectionStudies">
    <div class="row" *ngIf="validUser$ | async as validUser; else invalidUser">
      <div class="col-md-12">
        <div class="card mt-2">
          <div class="card-header">
            Enter the participant ID the collected specimens are for:
          </div>
          <div class="card-body">
            <form
              class="form-horizontal"
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
              autocomplete="on"
              novalidate
            >
              <div class="form-group row">
                <div class="col-md-9">
                  <input
                    class="form-control mb-2 mr-sm-2 mb-sm-0"
                    type="text"
                    id="uniqueId"
                    formControlName="uniqueId"
                    i18n-placeholder
                    placeholder="Participant ID"
                    ngbAutoFocus
                  />
                </div>
                <div class="col-md-3">
                  <button
                    class="btn btn-primary mr-2"
                    type="submit"
                    [disabled]="form.invalid || (participantLoading$ | async) === true"
                    i18n
                  >
                    <ng-container *ngIf="(participantLoading$ | async) !== true">
                      Submit
                    </ng-container>
                    <app-spinner name="uniqueIdGet" [show]="participantLoading$ | async">
                      Loading
                    </app-spinner>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #showLoading>
  <app-spinner name="loading" [show]="true" i18n>
    <small>Loading...</small>
  </app-spinner>
</ng-template>

<ng-template #invalidUser>
  <div class="row">
    <div class="col-md-12" i18n>
      <div class="alert alert-warning">
        <mat-icon>warning</mat-icon>
        <ng-container i18n>
          You are not allowed to collect specimens. Please contact your website administrator.
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noCollectionStudies>
  <div class="alert alert-warning" role="alert">
    <mat-icon>warning</mat-icon>
    <ng-container i18n>
      Specimen collection cannot be recorded yet. At least one Study and one Centre must be enabled.
    </ng-container>
  </div>
</ng-template>

<ng-template #participantCreateModal let-modal>
  <app-modal-yes-no [modal]="modal">
    <span class="title">Participant Does Not Exist</span>
    <div class="body">
      A participant with ID <b>{{ uniqueId.value }}</b> does not exist.
      <p>Do you want to add this participant?</p>
    </div>
  </app-modal-yes-no>
</ng-template>
