<app-shipment-viewer [shipment]="shipment" [displayState]="true">
  <div shipmentButtons class="float-right d-inline-block">
    <button class="btn btn-warning btn-sm mr-1" (click)="backToCreated()">
      <mat-icon class="mr-1">arrow_left</mat-icon>
      <span i18n>Back to created</span>
    </button>
    <button class="btn btn-primary btn-sm mr-1" (click)="tagAsSent()">
      <span i18n>Tag as sent</span>
      <mat-icon class="ml-1">arrow_right</mat-icon>
    </button>
  </div>
</app-shipment-viewer>

<ng-template #sentTimeModal let-modal>
  <app-modal-input-date-time
    [title]="'Time the shipment was sent'"
    [label]="'Time sent'"
    [value]=""
    [options]="modalInputOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-date-time>
</ng-template>

<ng-template #backToCreatedModal let-modal>
  <app-modal (confirm)="modal.close()" (dismiss)="modal.dismiss()">
    <span class="title">Back to Created</span>
    <div class="body">
      Are you sure you want to revert this shipment back to
      <span class="badge badge-pill badge-warning">Created</span> state?
    </div>
  </app-modal>
</ng-template>
