<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" i18n>Annotation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" i18n>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Name</strong>
          </div>
          <div class="col-md-10" ngbAutoFocus>
            {{ annotationType.name }}
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="annotationType.description">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Description</strong>
          </div>
          <div class="col-md-10">
            <app-truncate-toggle
              [text]="annotationType.description"
              [toggleLength]="60"
              [textEmptyWarning]="'Description not entered yet.'"
            >
            </app-truncate-toggle>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Required</strong>
          </div>
          <div class="col-md-10">
            {{ annotationType.required | yesNo }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Type</strong>
          </div>
          <div class="col-md-10">
            {{ annotationType.valueTypeToLabel() }}
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="annotationType.isValueTypeSelect()">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Selections</strong>
          </div>
          <div class="col-md-10">
            <ul class="annotation-options">
              <li *ngFor="let option of annotationType.options">
                {{ option }}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" (click)="activeModal.close()">
    OK
  </button>
</div>
