<div class="card mt-2" *ngIf="study$ | async as study">
  <div class="card-header bg-primary text-light" *ngIf="(isLoading$ | async) === false; else showLoading">
    <mat-icon [ngClass]="study.stateIconClass()">{{ study.stateIcon() }}</mat-icon>
    {{ study.name }} <small i18n>Participant Annotations</small>

    <app-dropdown-menu
      [menuItems]="menuItems"
      buttonClass="btn btn-sm btn-light"
      placement="bottom-right"
    ></app-dropdown-menu>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngIf="study.annotationTypes.length <= 0">
      <div class="alert alert-warning">
        <mat-icon>warning</mat-icon>
        <ng-container i18n>
          No annotations have been entered yet.
        </ng-container>
      </div>
    </li>

    <li class="list-group-item" *ngIf="study.annotationTypes.length > 0">
      <ng-container i18n>This study has the following annotations for participants:</ng-container>
    </li>

    <li class="list-group-item" *ngFor="let annotationType of sortedAnnotationTypes">
      <div class="row">
        <div class="col-md-10">
          <app-annotation-type-summary [annotationType]="annotationType"> </app-annotation-type-summary>
        </div>
        <div class="col-md-2">
          <app-annotation-type-actions
            [annotationType]="annotationType"
            [modifyAllowed]="study.isDisabled()"
            (viewSelected)="view($event)"
            (editSelected)="edit($event)"
            (removeSelected)="remove($event)"
          >
          </app-annotation-type-actions>
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngIf="isAddingAnnotation">
      <div class="row">
        <div class="col-md-10">
          <app-spinner name="addingAnnotation" [show]="true" i18n>
            Saving annotation
          </app-spinner>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <mat-icon class="warning-icon">info</mat-icon>
      <span i18n>
        Participant annotations allow a study to collect custom named and defined pieces of data for each
        participant. Annotations are optional and are not required to be defined.
      </span>
    </div>
  </div>
</div>

<ng-template #showLoading>
  <div class="card-header">
    <app-spinner name="login" [show]="true" i18n>
      Loading
    </app-spinner>
  </div>
</ng-template>
