<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1 i18n>
    Shipping
    <span class="float-right d-inline-block" ngbDropdown placement="bottom-right">
      <button class="btn btn-sm btn-outline-secondary" type="button" id="eventTypeMenu" ngbDropdownToggle>
        <mat-icon inline="true">more_vert</mat-icon>
      </button>

      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="eventTypeMenu">
        <a class="dropdown-item" (click)="add()">
          <mat-icon class="success-icon mr-1">add_circle</mat-icon>
          <span i18n>Add Shipment</span>
        </a>
      </div>
    </span>
  </h1>
</div>

<div class="row" *ngIf="validUser$ | async as validUser; else invalidUser">
  <app-shipping-centres-select (selected)="centreSelected($event)">
  </app-shipping-centres-select>
</div>

<ng-template #invalidUser>
  <div class="row">
    <div class="col-md-12" i18n>
      <div class="alert alert-warning">
        <mat-icon>warning</mat-icon>
        <ng-container i18n>
          You are not allowed to ship specimens. Please contact your website administrator.
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
