<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1 i18n>
    Shipping
    <app-dropdown-menu [menuItems]="menuItems" placement="bottom-right"></app-dropdown-menu>
  </h1>
</div>

<div class="row" *ngIf="validUser$ | async as validUser; else invalidUser">
  <app-shipping-centres-select (selected)="centreSelected($event)"> </app-shipping-centres-select>
</div>

<ng-template #invalidUser>
  <div class="row">
    <div class="col-md-12" i18n>
      <div class="alert alert-warning">
        <mat-icon>warning</mat-icon>
        <ng-container i18n>
          You are not allowed to ship specimens. Please contact your website administrator.
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
