<div class="card mt-2" *ngIf="centre$ | async as centre">
  <div class="card-header bg-primary text-light" *ngIf="(isLoading$ | async) === false; else showLoading">
    <mat-icon [ngClass]="centre.stateIconClass()">store</mat-icon>
    {{ centre.name }}
    <app-dropdown-menu
      [menuItems]="menuItems"
      buttonClass="btn btn-sm btn-light"
      placement="bottom-right"
    ></app-dropdown-menu>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong i18n>Name:</strong>
        </div>
        <div class="col-md-10">
          {{ centre.name }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong i18n>Description:</strong>
        </div>
        <div class="col-md-10">
          <app-truncate-toggle
            [text]="centre.description"
            [toggleLength]="descriptionToggleLength"
            [textEmptyWarning]="'Description not entered yet.'"
          >
          </app-truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngIf="centre.entity.isEnableAllowed() === false">
      <div class="alert alert-warning">
        <mat-icon color="warning-icon">warning</mat-icon>
        <span i18n>
          Centre cannot be enabled until it participates in at least one study.
        </span>
      </div>
    </li>
    <li class="list-group-item m-0 p-0">
      <app-entity-status
        [state]="centre.stateLabel()"
        [timeAdded]="centre.timeAdded"
        [timeModified]="centre.timeModified"
        [useBadges]="false"
      >
      </app-entity-status>
    </li>
  </ul>
</div>

<ng-template #showLoading>
  <div class="card-header">
    <app-blocking-progress></app-blocking-progress>
  </div>
</ng-template>

<ng-template #updateNameModal let-modal>
  <app-modal-input-text
    [title]="'Update Name'"
    [label]="'New centre name'"
    [value]="(centre$ | async)?.name"
    [options]="updateNameModalOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-text>
</ng-template>

<ng-template #updateDescriptionModal let-modal>
  <app-modal-input-textarea
    [title]="'Update Description'"
    [label]="'New centre description'"
    [value]="(centre$ | async)?.description"
    [options]="updateDescriptionModalOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-textarea>
</ng-template>
