<div class="card mt-2">
  <div class="card-header bg-primary text-light">
    <mat-icon inline="false">account_box</mat-icon>
    <span class="ml-1" i18n>Add Participant</span>
  </div>
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="form" autocomplete="on" (ngSubmit)="onSubmit()" novalidate>
      <!--STUDY  -->
      <div class="form-group row">
        <label for="study" class="col-md-3 col-form-label" i18n>Study</label>
        <div class="col-md-9">
          <select
            #studySelect
            class="form-control"
            id="study"
            formControlName="study"
            (change)="onStudySelected()"
          >
            <option value="" i18n>-- make a selection --</option>
            <option *ngFor="let study of studies; trackBy: studyTrackBy" [value]="study.id">
              {{ study.name }}
            </option>
          </select>
        </div>

        <div class="offset-3 col-md-9" *ngIf="study.invalid && study.touched">
          <div class="text-danger small" *ngIf="study.errors.required" i18n>
            Please make a selection
          </div>
        </div>
      </div>

      <!-- UNIQUE ID -->
      <div class="form-group row">
        <label for="uniqueId" class="col-md-3 col-form-label" i18n>Unique ID</label>
        <div class="col-md-9">
          <input
            class="form-control"
            type="text"
            formControlName="uniqueId"
            i18n-placeholder
            placeholder="The participants unique ID"
          />
        </div>
        <div class="offset-3 col-md-9" *ngIf="uniqueId.invalid && (uniqueId.dirty || uniqueId.touched)">
          <div class="text-danger small" *ngIf="uniqueId.errors.required" i18n>
            A unique ID is required
          </div>
          <div class="text-danger small" *ngIf="uniqueId.errors.minlength" i18n>
            Unique ID is too short
          </div>
        </div>
      </div>

      <!-- ANNOTATIONS  -->
      <app-annotations-add-subform [annotationsGroup]="annotationsGroup"> </app-annotations-add-subform>

      <!-- BUTTONS  -->
      <div class="form-group row">
        <div class="col-md-9 offset-3">
          <button
            class="btn btn-primary mr-2"
            type="submit"
            [disabled]="form.invalid || (isSaving$ | async) !== false"
            i18n
          >
            <ng-container *ngIf="(isSaving$ | async) === false">
              Submit
            </ng-container>
            <app-spinner name="annotationTypeSaving" [show]="isSaving$ | async">
              Saving
            </app-spinner>
          </button>
          <button class="btn btn-secondary" type="button" (click)="onCancel()" i18n>
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
