<div class="card mt-2" *ngIf="centre$ | async as centre">
  <div class="card-header bg-primary text-light" *ngIf="(isLoading$ | async) === false; else showLoading">
    <mat-icon [ngClass]="centre.stateIconClass()">
      {{ centre.stateIcon() }}
    </mat-icon>
    {{ centre.name }}: <small i18n>Locations</small>
    <app-dropdown-menu
      [menuItems]="menuItems"
      buttonClass="btn btn-sm btn-light float-right"
      placement="bottom-right"
    ></app-dropdown-menu>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngIf="!centre.entity.hasLocations()">
      <div class="alert alert-warning">
        <mat-icon>warning</mat-icon>
        <span i18n>
          Locations have not been added.
        </span>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let location of centre.entity.locations">
      <div class="row">
        <div class="col-md-10">
          <strong>{{ location.name }}</strong>
        </div>
        <div class="col-md-2">
          <app-dropdown-menu
            [menuItems]="createLocationMenuItems(centre, location)"
            buttonClass="btn btn-sm btn-outline-secondary"
            placement="bottom-right"
          ></app-dropdown-menu>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="location.poBoxNumber">
          <small>
            <strong>
              {{ location.street }}<br />
              {{ location.city }}, {{ location.province }}, {{ location.postalCode }}<br />
              {{ location.poBoxNumber }}, {{ location.countryIsoCode }}
            </strong>
          </small>
        </div>
        <div class="col-md-12" *ngIf="!location.poBoxNumber">
          <small>
            <strong>
              {{ location.street }}<br />
              {{ location.city }}, {{ location.province }}, {{ location.postalCode }}<br />
              {{ location.countryIsoCode }}
            </strong>
          </small>
        </div>
      </div>
    </li>
  </ul>
</div>
