<ng-container *ngIf="user$ | async as user; else showLoading">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>{{ user?.name }} <small i18n>Administration</small></h1>
  </div>
  <div class="card mt-2">
    <div class="card-header bg-primary text-light">
      <mat-icon [ngClass]="user?.stateIconClass()">
        {{ user?.stateIcon() }}
      </mat-icon>
      {{ user?.name }}
      <app-dropdown-menu
        [menuItems]="menuItems"
        buttonClass="btn btn-sm btn-light"
        placement="bottom-right"
      ></app-dropdown-menu>
    </div>

    <!-- NAME -->
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3"><strong i18n>Name</strong></div>
          <div class="col-md-9">{{ user?.name }}</div>
        </div>
      </li>

      <!-- EMAIL -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3"><strong i18n>Email</strong></div>
          <div class="col-md-9">{{ user?.email }}</div>
        </div>
      </li>

      <!-- AVATAR URL -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3"><strong i18n>Avatar URL</strong></div>
          <div class="col-md-7">
            <a target="_blank" [href]="user?.entity.avatarUrl" *ngIf="user?.entity.avatarUrl">
              {{ user?.entity.avatarUrl }}
            </a>
            <span *ngIf="!user?.entity.avatarUrl" i18n>None</span>
          </div>
        </div>
      </li>

      <!-- ROLES-->
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3"><strong i18n>Roles</strong></div>
          <div class="col-md-7" *ngIf="user?.entity.roles.length > 0">
            <span *ngFor="let role of user?.entity.roles" class="badge badge-secondary mr-1 mt-1">
              {{ role.name }}
            </span>
          </div>
          <div class="col-md-7" *ngIf="user?.entity.roles.length <= 0">
            <span i18n>None</span>
          </div>
        </div>
      </li>

      <!-- MEMBERSHIPS -->
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3"><strong i18n>Memberships</strong></div>
          <div class="col-md-7" *ngIf="user?.entity.membership">
            <span class="badge badge-secondary mr-1 mt-1">
              {{ user?.entity.membership?.name }}
            </span>
          </div>
          <div class="col-md-7" *ngIf="!user?.entity.membership">
            <span i18n>None</span>
          </div>
        </div>
      </li>
    </ul>

    <app-entity-status
      [state]="user?.stateLabel()"
      [timeAdded]="user?.timeAdded"
      [timeModified]="user?.timeModified"
      [useBadges]="false"
    >
    </app-entity-status>
  </div>
</ng-container>

<ng-template #showLoading>
  <div class="card-header">
    <app-spinner name="user" [show]="true" i18n>
      Loading
    </app-spinner>
  </div>
</ng-template>

<ng-template #updateNameModal let-modal>
  <app-modal-input-text
    [title]="'Update Name'"
    [label]="'New user name'"
    [value]="(user$ | async)?.name"
    [options]="updateNameModalOptions"
    [modal]="modal"
  >
  </app-modal-input-text>
</ng-template>

<ng-template #updateEmailModal let-modal>
  <app-modal-input-email
    [title]="'Update Email'"
    [label]="'New user email'"
    [value]="(user$ | async)?.email"
    [options]="updateEmailModalOptions"
    [modal]="modal"
  >
  </app-modal-input-email>
</ng-template>

<ng-template #updatePasswordModal let-modal>
  <app-modal-input-password
    [title]="'Update Password'"
    [user]="user"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-password>
</ng-template>

<ng-template #updateAvatarUrlModal let-modal>
  <app-modal-input-url
    [title]="'Update Avatar URL'"
    [label]="'New avatar URL'"
    [value]="(user$ | async)?.entity.avatarUrl"
    [options]="{}"
    [modal]="modal"
  >
  </app-modal-input-url>
</ng-template>
