<app-annotation-type-add *ngIf="!isLoading; else showLoading"
                         [entityName]="eventType?.name"
                         [annotationType]="(annotationType$ | async)"
                         [isSaving]="isSaving$"
                         (submitted)="onSubmit($event)"
                         (cancelled)="onCancel($event)">
</app-annotation-type-add>

<ng-template #showLoading>
  <div class="card mt-2">
    <div class="card-header bg-primary text-light">
      <app-spinner name="login" [show]="true" i18n>
        Loading
      </app-spinner>
    </div>
  </div>
</ng-template>
