<div class="card mt-2">
  <div class="card-header bg-primary text-light" i18n>
    {{ entityName }}: <small>{{ title }}</small>
  </div>
  <div class="card-body">
    <form class="form-horizontal"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">

      <app-specimen-definition-add [specimenDefinition]="specimenDefinition"
                                   [subform]="subform">
      </app-specimen-definition-add>

      <!-- AMOUNT -->
      <div class="form-group row">
        <label for="name" class="col-md-3 col-form-label" i18n>Amount</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="number"
                 formControlName="amount"
                 i18n-placeholder
                 placeholder="the amount to collect">
        </div>
        <div class="offset-3 col-md-9" *ngIf="amount.invalid && amount.touched">
          <div class="text-danger small" *ngIf="amount.errors.required || amount.errors.pattern" i18n>
            Amount should be a positive floating point number
          </div>
        </div>
      </div>

      <!-- MAX COUNT -->
      <div class="form-group row">
        <label for="name" class="col-md-3 col-form-label" i18n>Max Count</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="number"
                 formControlName="maxCount"
                 i18n-placeholder
                 placeholder="maximum number of vials to collect">
        </div>
        <div class="offset-3 col-md-9" *ngIf="maxCount.invalid && maxCount.touched">
          <div class="text-danger small"
               *ngIf="maxCount.errors.required || maxCount.errors.min || maxCount.errors.pattern"
               i18n>
            MaxCount should be a positive number greater than zero
          </div>
        </div>
      </div>

      <!-- BUTTONS  -->
      <div class="form-group row">
        <div class="col-md-9 offset-3">
          <button class="btn btn-primary mr-2"
                  type="submit"
                  [disabled]="form.invalid || !!(isSaving$ | async)"
                  i18n>
            <ng-container *ngIf="!(isSaving$ | async)">
              Submit
            </ng-container>
            <app-spinner name="annotationTypeSaving" [show]="isSaving$ | async">
              Saving
            </app-spinner>
          </button>
          <button class="btn btn-secondary" type="button" (click)="onCancel()" i18n>
            Cancel
          </button>
        </div>
      </div>

    </form>
  </div>
