<div class="pb-2 mt-4 mb-2">
  <h1>
    PROBE
    <small>
      <ng-container i18n>Participant</ng-container> ACH003:
      <ng-container i18n>Specimen</ng-container> U0941-2
    </small>
  </h1>
</div>

<div class="card mb-2">
  <div class="card-header bg-primary text-light">Start location</div>
  <ul class="list-group">
    <li class="list-group-item">
      PROBE ACH, Calgary
    </li>
    <li class="list-group-item">
      Created: 2014-10-06 06:00
    </li>
  </ul>
</div>

<div class="card mb-2">
  <div class="card-header bg-primary text-light">Next location</div>
  <ul class="list-group">
    <li class="list-group-item">
      CBSR, Edmonton
    </li>
    <li class="list-group-item">
      Received: 2015-12-15 22:09:06
    </li>
  </ul>
</div>

<div class="card mb-2">
  <div class="card-header bg-primary text-light">Next location</div>
  <ul class="list-group">
    <li class="list-group-item">
      PROBE - MICH, Winnipeg
    </li>
    <li class="list-group-item">
      Received: 2016-01-21 17:48:30
    </li>
  </ul>
</div>

<div class="card mb-2">
  <div class="card-header bg-primary text-light">Current location</div>
  <ul class="list-group">
    <li class="list-group-item">
      CBSR, Edmonton
    </li>
    <li class="list-group-item">
      Received: 2016-04-13 00:26:38
    </li>
  </ul>
</div>
