<div class="row">
  <div class="col-md-12">
    <mat-icon [ngClass]="iconClass">{{icon}}</mat-icon>
    <a [routerLink]="" (click)="linkSelected()"><strong>
      {{entityUI.entity.name}}
    </strong></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{entityUI.entity.description | truncate:100}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-entity-status [state]="entityUI.stateLabel"
                       [timeAdded]="entityUI.entity.timeAdded"
                       [timeModified]="entityUI.entity.timeModified"
                       [useBadges]="false">
    </app-entity-status>
  </div>
</div>
