<ng-container [ngSwitch]="shipment?.state">
  <app-shipment-add-items *ngSwitchCase="'created'"> </app-shipment-add-items>
  <app-shipment-view-packed *ngSwitchCase="'packed'"> </app-shipment-view-packed>
  <app-shipment-view-sent *ngSwitchCase="'sent'"> </app-shipment-view-sent>
  <app-shipment-view-received *ngSwitchCase="'received'"> </app-shipment-view-received>
  <app-shipment-view-lost *ngSwitchCase="'lost'"> </app-shipment-view-lost>
  <app-shipment-view-unpacked *ngSwitchCase="'unpacked'"> </app-shipment-view-unpacked>
  <app-shipment-view-completed *ngSwitchCase="'completed'"></app-shipment-view-completed>

  <div class="mt-4" *ngSwitchDefault>
    Shipment state <b>{{ shipment?.state }}</b> NOT implemented Yet!
  </div>
</ng-container>
