<div class="row">
  <div class="col-sm-12 mt-4">
    <div class="card">
      <div class="card-header bg-primary text-light">
        Shipment information

        <button
          class="float-right d-inline-block btn btn-sm btn-light"
          type="button"
          (click)="isCardCollapsed = !isCardCollapsed"
          [attr.aria-expanded]="!isCardCollapsed"
          aria-controls="infoCollapse"
        >
          <mat-icon *ngIf="!isCardCollapsed" inline="true">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="isCardCollapsed" inline="true">keyboard_arrow_right</mat-icon>
        </button>

        <app-dropdown-menu
          buttonClass="btn btn-sm btn-light btn-light mr-1"
          [menuItems]="menuItems"
          placement="bottom-right"
        ></app-dropdown-menu>
      </div>

      <div [ngbCollapse]="isCardCollapsed" id="infoCollapse">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <strong i18n>Courier:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.courierName }}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <strong i18n>Tracking Number:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.trackingNumber }}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <strong i18n>Origin:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.origin.combinedName }}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <strong i18n>Destination:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.destination.combinedName }}
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="displayState">
            <div class="row">
              <div class="col-md-2">
                <strong i18n>State:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.state }}
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="shipment.timePacked">
            <div class="row" *ngIf="shipment.timePacked !== undefined">
              <div class="col-md-2">
                <strong i18n>Time packed:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.timePacked | localTime }}
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="shipment.timeSent">
            <div class="row" *ngIf="shipment.timeSent !== undefined">
              <div class="col-md-2">
                <strong i18n>Time sent:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.timeSent | localTime }}
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="shipment.timeReceived">
            <div class="row" *ngIf="shipment.timeReceived !== undefined">
              <div class="col-md-2">
                <strong i18n>Time received:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.timeReceived | localTime }}
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="shipment.timeUnpacked">
            <div class="row" *ngIf="shipment.timeUnpacked !== undefined">
              <div class="col-md-2">
                <strong i18n>Time unpacked:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.timeUnpacked | localTime }}
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="shipment.timeCompleted">
            <div class="row" *ngIf="shipment.timeCompleted !== undefined">
              <div class="col-md-2">
                <strong i18n>Time completed:</strong>
              </div>
              <div class="col-md-10">
                {{ shipment.timeCompleted | localTime }}
              </div>
            </div>
          </li>

          <li class="list-group-item m-0 p-0">
            <app-entity-status
              [timeAdded]="shipment.timeAdded"
              [timeModified]="shipment.timeModified"
              [useBadges]="false"
            >
            </app-entity-status>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #updateCourierModal let-modal>
  <app-modal-input-text
    [modal]="modal"
    [title]="'Update Courier'"
    [label]="'Courier Name'"
    [value]="shipment.courierName"
    [options]="updateCourierModalOptions"
    (onConfirm)="confirm($event)"
  >
  </app-modal-input-text>
</ng-template>

<ng-template #updateTrackingNumberModal let-modal>
  <app-modal-input-text
    [modal]="modal"
    [title]="'Update Tracking Number'"
    [label]="'Tracking Number'"
    [value]="shipment.trackingNumber"
    [options]="updateTrackingNumberModalOptions"
    (onConfirm)="confirm($event)"
  >
  </app-modal-input-text>
</ng-template>

<ng-template #updateOriginModal let-modal>
  <app-modal-input-centre-location
    [modal]="modal"
    [title]="'Update Source Location'"
    [label]="'Source Location'"
    [value]="shipment.origin"
    [options]="updateLocationInfoModalOptions"
    [locationIdToFilterOut]="shipment.destination.locationId"
    (onConfirm)="confirm($event)"
  >
  </app-modal-input-centre-location>
</ng-template>

<ng-template #updateDestinationModal let-modal>
  <app-modal-input-centre-location
    [modal]="modal"
    [title]="'Update Destination Location'"
    [label]="'Destination Location'"
    [value]="shipment.destination"
    [options]="updateLocationInfoModalOptions"
    [locationIdToFilterOut]="shipment.origin.locationId"
    (onConfirm)="confirm($event)"
  >
  </app-modal-input-centre-location>
</ng-template>
