<!-- NAME -->
<div class="form-group row" [formGroup]="subform">
  <label for="name" class="col-md-3 col-form-label" i18n>Name</label>
  <div class="col-md-9">
    <input class="form-control"
           type="text"
           #nameInput
           formControlName="name"
           i18n-placeholder
           placeholder="A short name for the specimen"
           required>
  </div>
  <div class="offset-3 col-md-9" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="text-danger small" *ngIf="name.errors.required" i18n>
      A name is required
    </div>
    <div class="text-danger small" *ngIf="name.errors.minlength" i18n>
      Name is too short
    </div>
  </div>
</div>

<!-- DESCRIPTION -->
<div class="form-group row" [formGroup]="subform">
  <label for="name" class="col-md-3 col-form-label" i18n>Description</label>
  <div class="col-md-9">
    <textarea class="form-control"
              formControlName="description"
              i18n-placeholder
              placeholder="A description of the specimen (optional)">
    </textarea>
  </div>
</div>

<!-- ANATOMICAL SOURCE -->
<div class="form-group row" [formGroup]="subform">
  <label for="valueType" class="col-md-3 col-form-label" i18n>Anatomical Source</label>
  <div class="col-md-9">
    <select class="form-control"
            id="anatomicalSource"
            formControlName="anatomicalSource">
      <option value="" i18n>-- make a selection --</option>
      <option *ngFor="let anatomicalSource of anatomicalSources" [value]="anatomicalSource">
        {{ anatomicalSourceLabels[anatomicalSource] }}
      </option>
    </select>
  </div>

  <div class="offset-3 col-md-9" *ngIf="anatomicalSource.invalid && anatomicalSource.touched">
    <div class="text-danger small" *ngIf="anatomicalSource.errors.required" i18n>
      Please make a selection
    </div>
  </div>
</div>

<!-- PRESERVATION TYPE -->
<div class="form-group row" [formGroup]="subform">
  <label for="valueType" class="col-md-3 col-form-label" i18n>Preservation</label>
  <div class="col-md-9">
    <select class="form-control"
            id="preservation"
            formControlName="preservation">
      <option value="" i18n>-- make a selection --</option>
      <option *ngFor="let preservation of preservationTypes" [value]="preservation">
        {{ preservationTypeLabels[preservation] }}
      </option>
    </select>
  </div>

  <div class="offset-3 col-md-9" *ngIf="preservation.invalid && preservation.touched">
    <div class="text-danger small" *ngIf="preservation.errors.required" i18n>
      Please make a selection
    </div>
  </div>
</div>

<!-- PRESERVATION TEMPERATURE -->
<div class="form-group row" [formGroup]="subform">
  <label for="valueType" class="col-md-3 col-form-label" i18n>Temperature</label>
  <div class="col-md-9">
    <select class="form-control"
            id="temperature"
            formControlName="temperature">
      <option value="" i18n>-- make a selection --</option>
      <option *ngFor="let temperature of preservationTemperatures" [value]="temperature">
        {{ preservationTemperatureLabels[temperature] }}
      </option>
    </select>
  </div>

  <div class="offset-3 col-md-9" *ngIf="temperature.invalid && temperature.touched">
    <div class="text-danger small" *ngIf="temperature.errors.required" i18n>
      Please make a selection
    </div>
  </div>
</div>

<!-- SPECIMEN TYPE -->
<div class="form-group row" [formGroup]="subform">
  <label for="valueType" class="col-md-3 col-form-label" i18n>SpecimenType</label>
  <div class="col-md-9">
    <select class="form-control"
            id="specimenType"
            formControlName="specimenType">
      <option value="" i18n>-- make a selection --</option>
      <option *ngFor="let specimenType of specimenTypes" [value]="specimenType">
        {{ specimenTypeLabels[specimenType] }}
      </option>
    </select>
  </div>

  <div class="offset-3 col-md-9" *ngIf="specimenType.invalid && specimenType.touched">
    <div class="text-danger small" *ngIf="specimenType.errors.required" i18n>
      Please make a selection
    </div>
  </div>
</div>

<!-- UNITS -->
<div class="form-group row" [formGroup]="subform">
  <label for="name" class="col-md-3 col-form-label" i18n>Units</label>
  <div class="col-md-9">
    <input class="form-control"
           type="text"
           formControlName="units"
           i18n-placeholder
           placeholder="the units the specimens are measured in (eg. mL, cm, etc.)">
  </div>
  <div class="offset-3 col-md-9" *ngIf="units.invalid && units.touched">
    <div class="text-danger small" *ngIf="units.errors.required" i18n>
      Units is required
    </div>
  </div>
</div>
