<app-add-and-select [isAddAllowed]="isAddallowed"
                    [pageInfo]="(pageInfo$ | async)"
                    [isLoading]="(isLoading$ | async)"
                    [entitiesLimit]="eventTypesLimit"
                    [(page)]="currentPage"
                    [heading]="heading"
                    [noEntitiesToDisplay]="noEntitiesToDisplay"
                    [noResultsToDisplay]="noResultsToDisplay"
                    [loadingContent]="showLoading"
                    (nameFilterUpdated)="onFiltersUpdated($event)"
                    (pageChange)="paginationPageChange($event)">
  <ng-template let-entity>
    <li class="list-group-item" *ngIf="entity">
      <a href="#" (click)="!!eventTypeSelected(entity)">
        <small>{{entity.name | truncate:18}}</small>
      </a>
      <span class="float-right badge badge-secondary">{{ getRecurringLabel(entity) }}</span>
    </li>
  </ng-template>
</app-add-and-select>

<ng-template #heading>
  <small i18n>Events</small>
  <span class="float-right d-inline-block"
        *ngIf="isAddAllowed"
        ngbDropdown
        placement="bottom-right">
    <button class="btn btn-sm btn-outline-secondary"
            type="button"
            id="eventTypeMenu"
            ngbDropdownToggle>
      <mat-icon inline="true">more_vert</mat-icon>
    </button>

    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="eventTypeMenu">
      <a class="dropdown-item" (click)="add()">
        <mat-icon class="success-icon mr-1">add_circle</mat-icon>
        <ng-container i18n>Add Event</ng-container>
      </a>
    </div>
  </span>
</ng-template>

<ng-template #noEntitiesToDisplay>
  <div class="alert alert-warning" role="alert">
    <mat-icon>warning</mat-icon>
    <ng-container i18n>
      No events have been added to this study yet
    </ng-container>
  </div>
</ng-template>

<ng-template #noResultsToDisplay>
  <div class="alert alert-warning" role="alert">
    <mat-icon>warning</mat-icon>
    <ng-container i18n>
      There are no events that match your criteria
    </ng-container>
  </div>
</ng-template>

<ng-template #showLoading>
  <app-spinner name="loading" [show]="true" i18n>
    <small>Loading</small>
  </app-spinner>
</ng-template>
