<app-paged-entity-selector
  [pageInfo]="pageInfo$ | async"
  [isLoading]="isLoading$ | async"
  [entitiesLimit]="eventTypesLimit"
  [(page)]="currentPage"
  (pageChange)="paginationPageChange()"
>
  <div heading>
    <small i18n>Events</small>
    <app-dropdown-menu
      [menuItems]="menuItems"
      buttonClass="btn btn-sm btn-outline-secondary"
      placement="bottom-right"
    ></app-dropdown-menu>
  </div>

  <span #loadingContent i18n>Loading...</span>

  <ng-template let-entity>
    <li class="list-group-item" *ngIf="entity">
      <a [routerLink]="" (click)="!!eventTypeSelected(entity)">
        <small>{{ entity.name | truncate: 18 }}</small>
      </a>
      <span class="float-right badge badge-secondary">{{ getRecurringLabel(entity) }}</span>
    </li>
  </ng-template>

  <div noEntitiesToDisplay>
    <div class="alert alert-warning" role="alert">
      <mat-icon>warning</mat-icon>
      <ng-container i18n>
        No events have been added to this study yet
      </ng-container>
    </div>
  </div>

  <div noResultsToDisplay>
    <div class="alert alert-warning" role="alert">
      <mat-icon>warning</mat-icon>
      <ng-container i18n>
        There are no events that match your criteria
      </ng-container>
    </div>
  </div>

  <div footer>
    <app-filter-value-input (valueChanged)="nameFilterChanged($event)">
      <span class="title" i18n>Name filter:</span>
    </app-filter-value-input>
  </div>
</app-paged-entity-selector>
