<ng-container *ngIf="study$ | async as study">
  <div class="card mt-2">
    <div class="card-header bg-primary text-light" *ngIf="(isLoading$ | async) === false; else showLoading">
      <mat-icon [ngClass]="study.stateIconClass()">
        {{ study.stateIcon() }}
      </mat-icon>
      {{ study.name }}
      <app-dropdown-menu
        [menuItems]="menuItems"
        buttonClass="btn btn-sm btn-light"
        placement="bottom-right"
      ></app-dropdown-menu>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Name:</strong>
          </div>
          <div class="col-md-10">
            {{ study.name }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong i18n>Description:</strong>
          </div>
          <div class="col-md-10">
            <app-truncate-toggle
              [text]="study.description"
              [toggleLength]="descriptionToggleLength"
              [textEmptyWarning]="'Description not entered yet.'"
            >
            </app-truncate-toggle>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="(isEnableAllowed$ | async) !== true">
        <div class="alert alert-warning">
          <mat-icon class="warning-icon">warning</mat-icon>
          <ng-container i18n>
            Study cannot be enabled until at least one specimen is added to a collection event.
          </ng-container>
        </div>
      </li>
      <li class="list-group-item m-0 p-0">
        <app-entity-status
          [state]="study.stateLabel()"
          [timeAdded]="study.timeAdded"
          [timeModified]="study.timeModified"
          [useBadges]="false"
        >
        </app-entity-status>
      </li>
    </ul>

    <ng-template #updateNameModal let-modal>
      <app-modal-input-text
        [title]="'Update Name'"
        [label]="'New study name'"
        [value]="study.name"
        [options]="updateNameModalOptions"
        (onConfirm)="confirm($event)"
        [modal]="modal"
      >
      </app-modal-input-text>
    </ng-template>

    <ng-template #updateDescriptionModal let-modal>
      <app-modal-input-textarea
        [title]="'Update Description'"
        [label]="'New study description'"
        [value]="study.description"
        [options]="updateDescriptionModalOptions"
        (onConfirm)="confirm($event)"
        [modal]="modal"
      >
      </app-modal-input-textarea>
    </ng-template>
  </div>
</ng-container>

<ng-template #showLoading>
  <div class="card-header">
    <app-blocking-progress></app-blocking-progress>
  </div>
</ng-template>
