<div class="card mt-2">
  <div class="card-header">
    {{study.name}}
    <span class="float-right d-inline-block" ngbDropdown placement="bottom-right">

      <button class="btn btn-sm btn-outline-primary"
              type="button"
              id="studySummaryMenu"
              ngbDropdownToggle>
      </button>

      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="studySummaryMenu">
        <a class="dropdown-item" *ngIf="study.isDisabled()" (click)="updateName()">
          <mat-icon class="success-icon mr-1">edit</mat-icon>
          <ng-container i18n>Update name</ng-container>
        </a>
        <a class="dropdown-item" *ngIf="study.isDisabled()" (click)="updateDescription()">
          <mat-icon class="success-icon mr-1">edit</mat-icon>
          <ng-container i18n>Update description</ng-container>
        </a>
        <a class="dropdown-item" *ngIf="study.isEnabled()" (click)="disable()">
          <mat-icon class="mr-1" [ngClass]="getStateIconClass('disabled')">
            {{getStateIcon('disabled')}}
          </mat-icon>
          <ng-container i18n>Disable this study</ng-container>
        </a>
        <a class="dropdown-item" *ngIf="study.isDisabled()" (click)="enable()">
          <mat-icon class="mr-1" [ngClass]="getStateIconClass('enabled')">
            {{getStateIcon('enabled')}}
          </mat-icon>
          <ng-container i18n>Enable this study</ng-container>
        </a>
        <a class="dropdown-item" *ngIf="study.isDisabled()" (click)="retire()">
          <mat-icon class="mr-1" [ngClass]="getStateIconClass('retired')">
            {{getStateIcon('retired')}}
          </mat-icon>
          <ng-container i18n>Retire this study</ng-container>
        </a>
        <a class="dropdown-item" *ngIf="study.isRetired()" (click)="unretire()">
          <mat-icon class="mr-1" [ngClass]="getStateIconClass('disabled')">
            {{getStateIcon('disabled')}}
          </mat-icon>
          <ng-container i18n>Unretire this study</ng-container>
        </a>
      </div>
    </span>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong i18n>Name:</strong>
        </div>
        <div class="col-md-10">
          {{study.name}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <strong i18n>Description:</strong>
        </div>
        <div class="col-md-10">
          <app-truncate-toggle [text]="study.description"
                               [toggleLength]="descriptionToggleLength"
                               [textEmptyWarning]="'Description not entered yet.'">
          </app-truncate-toggle>
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngIf="!(isEnableAllowed$ | async)">
      <div class="alert alert-warning">
        <mat-icon color="primary">warning</mat-icon>
        <ng-container i18n>
          Study cannot be enabled until at least one specimen is added to a collection event.
        </ng-container>
      </div>
    </li>
    <li class="list-group-item m-0 p-0">
      <app-entity-status [state]="study.stateLabel()"
                         [timeAdded]="study.timeAdded"
                         [timeModified]="study.timeModified"
                         [useBadges]="false">
      </app-entity-status>
    </li>
  </ul>
</div>
