<app-shipment-viewer [shipment]="shipment" [displayState]="true">
  <div shipmentButtons class="float-right d-inline-block">
    <div class="float-right d-inline-block">
      <button class="btn btn-warning btn-sm mr-1" (click)="backToSent()">
        <mat-icon class="mr-1">arrow_left</mat-icon>
        <span i18n>Back to Sent</span>
      </button>
      <button class="btn btn-primary btn-sm mr-1" (click)="tagAsUnpacked()">
        <span i18n>Tag as Unpacked</span>
        <mat-icon class="ml-1">arrow_right</mat-icon>
      </button>
    </div>
  </div>
</app-shipment-viewer>

<ng-template #unpackedTimeModal let-modal>
  <app-modal-input-date-time
    [title]="'Time the shipment was unpacked'"
    [label]="'Time Unpacked'"
    [value]=""
    [options]="modalInputOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-date-time>
</ng-template>

<ng-template #backToSentModal let-modal>
  <app-modal (confirm)="modal.close()" (dismiss)="modal.dismiss()">
    <span class="title" i18n>Back to Sent</span>
    <div class="body" i18n>
      Are you sure you want to revert this shipment back to
      <span class="badge badge-pill badge-warning">Sent</span> state?
    </div>
  </app-modal>
</ng-template>
