<div class="row">
  <div class="col-sm-12 mt-4">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <fa-icon [icon]="faVial"></fa-icon>
        <span class="ml-1" i18n>Add Specimens</span>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12" i18n>
            Enter one or more specimen inventory ID to add:
          </div>
        </div>

        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="on" novalidate>
          <div class="form-group row">
            <div class="col-md-11">
              <input
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                type="text"
                id="uniqueId"
                formControlName="inventoryIds"
                i18n-placeholder
                placeholder="Specimen inventory IDs separated by comma"
                ngbAutoFocus
              />
            </div>
            <div class="col-md-1">
              <button
                class="btn btn-primary mr-2"
                type="submit"
                [disabled]="form.invalid || (shipmentLoading$ | async) === true"
                i18n
              >
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #addSpecimenError let-modal>
  <app-modal [cancelButtonShow]="false" (confirm)="modal.close()">
    <span class="title" i18n>Specimens cannot be added to this Shipment</span>
    <div class="body alert alert-warning" role="alert">
      <div class="row vertical-align">
        <div class="col-md-1 text-center">
          <mat-icon>warning</mat-icon>
        </div>
        <div class="col-md-11">
          <span [innerHTML]="addErrorMessage"></span>
        </div>
      </div>
    </div>
  </app-modal>
</ng-template>
