<div class="row">
  <div class="col-sm-12 mt-4">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <fa-icon [icon]="faVial"></fa-icon>
        <span class="ml-1"><ng-content select="[title]"></ng-content></span>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12" i18n>
            <span><ng-content select="[prompt]"></ng-content></span>
          </div>
        </div>

        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="on" novalidate>
          <div class="form-group row mt-2">
            <div class="col-md-10">
              <input
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                type="text"
                id="uniqueId"
                formControlName="inventoryIds"
                i18n-placeholder
                placeholder="Specimen inventory IDs separated by comma"
                ngbAutoFocus
              />
            </div>
            <div class="col-md-2">
              <button
                class="btn btn-primary mr-2"
                type="submit"
                [disabled]="form.invalid || shipmentLoading"
                i18n
              >
                <ng-container *ngIf="!shipmentLoading">
                  <span><ng-content select="[buttonText]"></ng-content></span>
                </ng-container>
                <app-spinner name="addingSpecimens" [show]="shipmentLoading">
                  <span><ng-content select="[buttonTextLoading]"></ng-content></span>
                </app-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
