<app-modal [modalInputValid]="modalInputValid" (confirm)="confirm()" (dismiss)="dismiss()">
  <span class="title">{{ title }}</span>
  <form class="body form-horizontal" [formGroup]="form" autocomplete="on" novalidate>
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>{{ label }}</label>
      <div class="col-md-8">
        <input class="form-control" formControlName="input" ngbAutoFocus />
      </div>
      <div class="col-md-8 offset-3" *ngIf="input.invalid && input.touched">
        <div class="text-danger small" *ngIf="input.errors.required" i18n>
          An email address is required
        </div>
        <div class="text-danger small" *ngIf="input.errors.email" i18n>
          Email address is not valid
        </div>
      </div>
    </div>
  </form>
</app-modal>
