<app-modal-input  [modalInputValid]="modalInputValid"
                  (onConfirm)="confirm($event)"
                  (onDismiss)="dismiss($event)">
  <span class="title">{{title}}</span>
  <form class="body form-horizontal"
        [formGroup]="modalInputForm"
        autocomplete="on"
        novalidate>

    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>{{label}}</label>
      <div class="col-md-8">
        <input class="form-control"
               formControlName="text"
               ngbAutoFocus>
      </div>
      <div class="col-md-8 offset-3" *ngIf="text.invalid && text.touched">
        <div class="text-danger small" *ngIf="text.errors.required" i18n>
          An email address is required
        </div>
        <div class="text-danger small" *ngIf="text.errors.email" i18n>
          Email address is not valid
        </div>
      </div>
    </div>
  </form>
</app-modal-input>
