<app-modal-input [modalInputValid]="modalInputValid" (confirm)="confirm()" (dismiss)="dismiss()">
  <span class="title">
    <span class="ml-1">{{ title }}</span>
  </span>
  <form class="body form-horizontal" [formGroup]="form" autocomplete="on" novalidate>
    <div class="form-group row">
      <label for="value" class="col-md-3 col-form-label" i18n>{{ label }}</label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          formControlName="input"
          [ngbTypeahead]="locationTypeahead.getEntities"
          i18n-placeholder
          placeholder="location"
          [inputFormatter]="locationTypeahead.formatter"
          [resultFormatter]="locationTypeahead.formatter"
          [editable]="false"
          required
        />
      </div>
      <div class="col-md-9 offset-3" *ngIf="input.invalid && input.touched">
        <div class="text-danger small" *ngIf="input.errors.required" i18n>
          A Centre Location is required
        </div>
      </div>
    </div>
  </form>
</app-modal-input>
