<div class="pb-2 mt-4 mb-2">
  <h1>
    {{ shipment.courierName }}: {{ shipment.trackingNumber }}

    <span class="float-right d-inline-block">
      <button class="btn btn-warning btn-sm mr-1" (click)="backToPacked()">
        <mat-icon class="mr-1">arrow_left</mat-icon>
        <span i18n>Back to packed</span>
      </button>
      <button class="btn btn-primary btn-sm mr-1" (click)="tagAsReceived()">
        <span i18n>Tag as received</span>
        <mat-icon class="ml-1">arrow_right</mat-icon>
      </button>
      <button class="btn btn-primary btn-sm mr-1" (click)="tagAsUnpacked()">
        <span i18n>Tag as unpacked</span>
        <mat-icon class="ml-1">fast_forward</mat-icon>
      </button>
      <button class="btn btn-danger btn-sm mr-1" (click)="tagAsLost()">
        <span i18n>Tag as lost</span>
        <mat-icon class="ml-1">error</mat-icon>
      </button>
    </span>
  </h1>

  <app-shipment-information-card [shipment]="shipment" [displayState]="true"> </app-shipment-information-card>

  <app-shipment-specimens-table [shipment]="shipment"></app-shipment-specimens-table>
</div>

<ng-template #receivedTimeModal let-modal>
  <app-modal-input-date-time
    [title]="'Time the shipment was received'"
    [label]="'Time received'"
    [value]=""
    [options]="modalInputOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-date-time>
</ng-template>

<ng-template #unpackedTimeModal let-modal>
  <app-modal-input-double-date
    [title]="'Time the shipment was received and unpacked'"
    [label]="'Time received'"
    [label2]="'Time unpacked'"
    [date1value]=""
    [date2value]=""
    [options]="modalInputOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-double-date>
</ng-template>
