<div class="pb-2 mt-4 mb-2">
  <div class="row">
    <div class="col-md-12">
      <div class="d-inline-block">
        <h1>
          {{ shipment.courierName }}: {{ shipment.trackingNumber }}
          <span class="badge badge-pill badge-secondary" i18n>Sent</span>
        </h1>
      </div>

      <div class="float-right d-inline-block">
        <button class="btn btn-warning btn-sm mr-1" (click)="backToPacked()">
          <mat-icon class="mr-1">arrow_left</mat-icon>
          <span i18n>Back to packed</span>
        </button>
        <button class="btn btn-primary btn-sm mr-1" (click)="tagAsReceived()">
          <span i18n>Tag as received</span>
          <mat-icon class="ml-1">arrow_right</mat-icon>
        </button>
        <button class="btn btn-primary btn-sm mr-1" (click)="tagAsUnpacked()">
          <span i18n>Tag as unpacked</span>
          <mat-icon class="ml-1">fast_forward</mat-icon>
        </button>
        <button class="btn btn-danger btn-sm mr-1" (click)="tagAsLost()">
          <span i18n>Tag as lost</span>
          <mat-icon class="ml-1">error</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <app-shipment-information-card [shipment]="shipment" [displayState]="true"> </app-shipment-information-card>

  <app-shipment-specimens-table [shipment]="shipment"></app-shipment-specimens-table>
</div>

<ng-template #receivedTimeModal let-modal>
  <app-modal-input-date-time
    [title]="'Time the shipment was received'"
    [label]="'Time received'"
    [value]=""
    [options]="modalInputOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-date-time>
</ng-template>

<ng-template #unpackedTimeModal let-modal>
  <app-modal-input-double-date
    [title]="'Time the shipment was received and unpacked'"
    [label]="'Time received'"
    [label2]="'Time unpacked'"
    [date1value]=""
    [date2value]=""
    [options]="modalInputOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-double-date>
</ng-template>

<ng-template #backToPackedModal let-modal>
  <app-modal (confirm)="modal.close()" (dismiss)="modal.dismiss()">
    <span class="title">Back to Packed</span>
    <div class="body" i18n>
      Are you sure you want to revert this shipment back to
      <span class="badge badge-pill badge-warning">Packed</span> state?
    </div>
  </app-modal>
</ng-template>

<ng-template #tagAsLostModal let-modal>
  <app-modal (confirm)="modal.close()" (dismiss)="modal.dismiss()">
    <span class="title">Tag as Lost</span>
    <div class="body" i18n>
      Are you sure you want to tag this shipment as
      <span class="badge badge-pill badge-danger">Lost</span>?
    </div>
  </app-modal>
</ng-template>
