<app-paged-entity-selector
  [pageInfo]="pageInfo$ | async"
  [isLoading]="isLoading$ | async"
  [entitiesLimit]="processingTypesLimit"
  [(page)]="currentPage"
  (filterUpdated)="onFiltersUpdated($event)"
  (pageChange)="paginationPageChange()"
>
  <div heading>
    <small i18n>Processing Steps</small>
    <app-dropdown-menu
      [menuItems]="menuItems"
      buttonClass="btn btn-sm btn-outline-secondary"
      placement="bottom-right"
    ></app-dropdown-menu>
  </div>

  <span loadingContent i18n>Loading...</span>

  <ng-template let-entity>
    <li class="list-group-item">
      <a [routerLink]="" (click)="!!processingTypeSelected(entity)">
        <small>{{ entity.name | truncate: 18 }}</small>
      </a>
    </li>
  </ng-template>

  <span noEntitiesToDisplay i18n>
    Processing steps have not been added to this study yet
  </span>

  <span noResultsToDisplayi18n>
    No processing steps match the filter
  </span>

  <div footer>
    <app-filter-value-input (valueChanged)="nameFilterChanged($event)">
      <span class="title" i18n>Name filter:</span>
    </app-filter-value-input>
  </div>
</app-paged-entity-selector>
