<ng-container *ngIf="useBadges; else noBadges">
  <div class="m-1">
    <span class="badge mr-1" [ngClass]="bsClass" *ngIf="state">
      <span class="mr-1" i18n>State:</span> {{state}}
    </span>
    <span class="badge mr-1" [ngClass]="bsClass">
      <span class="mr-1" i18n>Added:</span>
      <span *ngIf="timeAdded">{{timeAdded | timeago: 'On System Initialization'}}</span>
    </span>

    <span class="badge" [ngClass]="bsClass">
      <span class="mr-1" i18n>Modified:</span>
      <span *ngIf="timeModified">{{timeModified | timeago: 'On System Initialization'}}</span>
      <span *ngIf="! timeModified" i18n>Never</span>
    </span>
  </div>
</ng-container>

<ng-template #noBadges>
  <div class="m-1">
    <small class="mr-1" [ngClass]="bsClass" *ngIf="state">
      <span><strong class="mr-1" i18n>State:</strong> {{state}},</span>
    </small>
    <small class="mr-1" [ngClass]="bsClass" >
      <strong class="mr-1" i18n>Added:</strong>
      <span *ngIf="timeAdded" i18n>{{timeAdded | timeago: 'On System Initialization'}},</span>
    </small>
    <small [ngClass]="bsClass" >
      <strong class="mr-1" i18n>Modified:</strong>
      <span *ngIf="timeModified" i18n>{{timeModified | timeago: 'On System Initialization'}}</span>
      <span *ngIf="!timeModified" i18n>Never</span>
    </small>
  </div>
</ng-template>
