<app-paged-entity-selector
  [pageInfo]="pageInfo$ | async"
  [isLoading]="isLoading$ | async"
  [entitiesLimit]="eventsLimit"
  [(page)]="currentPage"
  [heading]="heading"
  [footer]="footer"
  [noEntitiesToDisplay]="noEntitiesToDisplay"
  [noResultsToDisplay]="noResultsToDisplay"
  [loadingContent]="showLoading"
  (pageChange)="paginationPageChange()"
>
  <ng-template let-entity>
    <li class="list-group-item" *ngIf="entity">
      <a [routerLink]="" (click)="!!eventSelected(entity)">
        <small>{{ entity.visitNumber }}</small>
      </a>
    </li>
  </ng-template>
</app-paged-entity-selector>

<ng-template #heading>
  <small i18n>Events</small>
  <span class="float-right d-inline-block" ngbDropdown placement="bottom-right">
    <button class="btn btn-sm btn-outline-secondary" type="button" id="eventTypeMenu" ngbDropdownToggle>
      <mat-icon inline="true">menu</mat-icon>
    </button>

    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="eventTypeMenu">
      <a class="dropdown-item" (click)="add()">
        <mat-icon class="success-icon mr-1">add_circle</mat-icon>
        <ng-container i18n>Add Event</ng-container>
      </a>
    </div>
  </span>
</ng-template>

<ng-template #footer>
  <app-filter-value-input (valueChanged)="visitNumberFilterChanged($event)">
    <span class="title" i18n>Visit# filter:</span>
  </app-filter-value-input>
</ng-template>

<ng-template #noEntitiesToDisplay>
  <div class="alert alert-warning" role="alert">
    <mat-icon>warning</mat-icon>
    <ng-container i18n>
      This participant does not have any events yet
    </ng-container>
  </div>
</ng-template>

<ng-template #noResultsToDisplay>
  <div class="alert alert-warning" role="alert">
    <mat-icon>warning</mat-icon>
    <ng-container i18n>
      There are no events that match your criteria
    </ng-container>
  </div>
</ng-template>

<ng-template #showLoading>
  <app-spinner name="loading" [show]="true" i18n>
    <small>Loading...</small>
  </app-spinner>
</ng-template>
