<app-paged-entity-selector
  [pageInfo]="pageInfo$ | async"
  [isLoading]="isLoading$ | async"
  [entitiesLimit]="eventsLimit"
  [(page)]="currentPage"
  (pageChange)="paginationPageChange()"
>
  <div heading>
    <small i18n>Events</small>
    <app-dropdown-menu
      [menuItems]="menuItems"
      buttonClass="btn btn-sm btn-outline-secondary"
      placement="bottom-right"
    ></app-dropdown-menu>
  </div>

  <span loadingContent i18n>Loading...</span>

  <ng-template let-entity>
    <li class="list-group-item" *ngIf="entity">
      <a [routerLink]="" (click)="!!eventSelected(entity)">
        <small>{{ entity.visitNumber }}</small>
      </a>
    </li>
  </ng-template>

  <span noEntitiesToDisplayi18n>
    This participant does not have any events yet
  </span>

  <span noResultsToDisplay i18n>
    There are no events that match your criteria
  </span>

  <div footer>
    <app-filter-value-input (valueChanged)="visitNumberFilterChanged($event)">
      <span class="title" i18n>Visit# filter:</span>
    </app-filter-value-input>
  </div>
</app-paged-entity-selector>
