<div *ngIf="processingType">
  <div class="card mt-2">
    <div class="card-header bg-primary text-light">
      <ng-container i18>Processing Step</ng-container>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Name</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.name }}
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="processingType.description">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Description</strong>
          </div>
          <div class="col-md-9">
            <app-truncate-toggle [text]="processingType.description" [toggleLength]="60">
            </app-truncate-toggle>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Enabled</strong>
          </div>
          <div class="col-md-9">{{ processingType.enabled | yesNo }}</div>
        </div>
      </li>
      <li class="list-group-item" *ngFor="let annotationType of sortedAnnotationTypes">
        <div class="row">
          <div class="col-md-3">
            <strong translate>Annotation</strong>
          </div>
          <div class="col-md-7">
            <app-annotation-type-summary [annotationType]="annotationType"> </app-annotation-type-summary>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card mt-2">
    <div class="card-header bg-primary text-light" i18n>
      Input Specimen
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Type</strong>
          </div>
          <div class="col-md-9" *ngIf="processingType.input.definitionType === 'collected'" i18n>
            Collected
          </div>
          <div class="col-md-9" *ngIf="processingType.input.definitionType === 'processed'" i18n>
            Processed
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong *ngIf="processingType.input.definitionType === 'collected'" i18n>Event</strong>
            <strong *ngIf="processingType.input.definitionType === 'processed'" i18n>Processing Step</strong>
          </div>
          <div class="col-md-9">
            {{ inputEntityName }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Specimen</strong>
          </div>
          <div class="col-md-9">
            {{ inputDefinitionName }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Expected Change</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.input.expectedChange }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Count</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.input.count }}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card mt-2">
    <div class="card-header bg-primary text-light" i18n>
      Output Specimen
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Name</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.output.specimenDefinition.name }}
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="processingType.output.specimenDefinition.description">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Description</strong>
          </div>
          <div class="col-md-9">
            <app-truncate-toggle
              [text]="processingType.output.specimenDefinition.description"
              [toggleLength]="60"
            >
            </app-truncate-toggle>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Anatomical Source</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.output.specimenDefinition.anatomicalSourceType }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Type</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.output.specimenDefinition.specimenType }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Preservation</strong>
          </div>
          <div class="col-md-9">
            {{ processingType.output.specimenDefinition.preservationType }} ({{
              processingType.output.specimenDefinition.preservationTemperature
            }})
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Output Expected Change</strong>
          </div>
          <div class="col-md-4">
            {{ processingType.output.expectedChange }} {{ processingType.output.specimenDefinition.units }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <strong i18n>Output Expected Count</strong>
          </div>
          <div class="col-md-4">
            {{ processingType.output.count }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
