<app-modal-input [modalClose]="close()">
  <span class="title">{{title}}</span>
  <form class="body form-horizontal"
        [formGroup]="modalInputForm"
        autocomplete="on"
        novalidate>

    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>{{label}}</label>
      <div class="col-md-9">
        <textarea class="form-control"
                  formControlName="text"
                  [rows]="options.rows"
                  [cols]="options.cols"
                  ngbAutoFocus>
        </textarea>
      </div>
      <div class="col-md-8 offset-3" *ngIf="text.invalid && textarea.touched">
        <div class="text-danger small" *ngIf="text.errors.required" i18n>
          Some text is required
        </div>
      </div>
    </div>
  </form>
</app-modal-input>
