<app-shipment-viewer [shipment]="shipment" [displayState]="true">
  <div shipmentButtons class="float-right d-inline-block">
    <button class="btn btn-warning btn-sm mr-1" (click)="backToUnpacked()">
      <mat-icon class="mr-1">arrow_left</mat-icon>
      <span i18n>Back to Unpacked</span>
    </button>
  </div>
</app-shipment-viewer>

<ng-template #backToUnpackedModal let-modal>
  <app-modal (confirm)="modal.close()" (dismiss)="modal.dismiss()">
    <span class="title" i18n>Back to Unpacked</span>
    <div class="body" i18n>
      Are you sure you want to revert this shipment back to
      <span class="badge badge-pill badge-warning">Unpacked</span> state?
    </div>
  </app-modal>
</ng-template>
