<div class="pb-2 mt-4 mb-2">
  <div class="row">
    <div class="col-md-12">
      <div class="d-inline-block">
        <h1>
          {{ shipment.courierName }}: {{ shipment.trackingNumber }}
          <span class="badge badge-pill badge-secondary" i18n>Completed</span>
        </h1>
      </div>

      <div class="float-right d-inline-block">
        <button class="btn btn-warning btn-sm mr-1" (click)="backToUnpacked()">
          <mat-icon class="mr-1">arrow_left</mat-icon>
          <span i18n>Back to Unpacked</span>
        </button>
      </div>
    </div>
  </div>

  <app-shipment-information-card [shipment]="shipment" [displayState]="true"> </app-shipment-information-card>

  <app-shipment-specimens-table [shipment]="shipment"></app-shipment-specimens-table>
</div>

<ng-template #backToUnpackedModal let-modal>
  <app-modal (confirm)="modal.close()" (dismiss)="modal.dismiss()">
    <span class="title" i18n>Back to Unpacked</span>
    <div class="body" i18n>
      Are you sure you want to revert this shipment back to
      <span class="badge badge-pill badge-warning">Unpacked</span> state?
    </div>
  </app-modal>
</ng-template>
