<div class="row">
  <div class="col-sm-12 mt-4">
    <div class="card">
      <div class="card-header bg-primary text-light" i18n>Add Shipment</div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="form" autocomplete="on" (ngSubmit)="onSubmit()" novalidate>
          <!-- COURIER NAME -->
          <div class="form-group row">
            <label for="courierName" class="col-md-3 col-form-label" i18n>Courier Name</label>
            <div class="col-md-9">
              <input
                #courierNameInput
                class="form-control"
                type="text"
                formControlName="courierName"
                i18n-placeholder
                placeholder="The name of the courier company"
                autocomplete="on"
              />
            </div>
            <div class="col-md-9 offset-3" *ngIf="courierName.invalid && courierName.touched">
              <div class="text-danger small" *ngIf="courierName.errors.required" i18n>
                A courier name is required
              </div>
            </div>
          </div>

          <!-- TRACKING NUMBER -->
          <div class="form-group row">
            <label for="trackingNumber" class="col-md-3 col-form-label" i18n>Tracking Number</label>
            <div class="col-md-9">
              <input
                #trackingNumberInput
                class="form-control"
                type="text"
                formControlName="trackingNumber"
                i18n-placeholder
                placeholder="The number used to track the package"
                autocomplete="on"
              />
            </div>
            <div class="col-md-9 offset-3" *ngIf="trackingNumber.invalid && trackingNumber.touched">
              <div class="text-danger small" *ngIf="trackingNumber.errors.required" i18n>
                A tracking number is required
              </div>
            </div>
          </div>

          <!-- ORIGIN LOCATION -->
          <div class="form-group row">
            <label for="origin" class="col-md-3 col-form-label" i18n>Origin Location</label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                formControlName="origin"
                [ngbTypeahead]="originTypeahead.getEntities"
                i18n-placeholder
                placeholder="The centre and location this shipment is originating from"
                [inputFormatter]="originTypeahead.formatter"
                [resultFormatter]="originTypeahead.formatter"
                [editable]="false"
                required
              />
            </div>
            <div class="col-md-9 offset-3" *ngIf="origin.invalid && origin.touched">
              <div class="text-danger small" *ngIf="origin.errors.required" i18n>
                An origin centre and location are required
              </div>
            </div>
          </div>

          <!-- DESTINATION LOCATION -->
          <div class="form-group row">
            <label for="destination" class="col-md-3 col-form-label" i18n>Destination Location</label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                formControlName="destination"
                [ngbTypeahead]="destinationTypeahead.getEntities"
                i18n-placeholder
                placeholder="The centre and location this shipment is destined to"
                [inputFormatter]="destinationTypeahead.formatter"
                [resultFormatter]="destinationTypeahead.formatter"
                [editable]="false"
                required
              />
            </div>
            <div class="col-md-9 offset-3" *ngIf="destination.invalid && destination.touched">
              <div class="text-danger small" *ngIf="destination.errors.required" i18n>
                A destination centre and location are required
              </div>
            </div>
          </div>

          <!-- BUTTONS  -->
          <div class="form-group row">
            <div class="col-md-9 offset-3">
              <button class="btn btn-primary mr-2" type="submit" [disabled]="form.invalid || isSaving" i18n>
                <ng-container *ngIf="isSaving === false">
                  Submit
                </ng-container>
                <app-spinner name="shipmentSaving" [show]="isSaving">
                  Saving
                </app-spinner>
              </button>
              <button class="btn btn-secondary" type="button" (click)="onCancel()" i18n>
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
