<div class="row">
  <div class="col-sm-8 offset-2 mt-4">
    <div class="card">
      <div class="card-header bg-primary text-light" i18n>Login</div>
      <div class="card-body">
        <form
          class="form-horizontal"
          [formGroup]="loginForm"
          autocomplete="on"
          (ngSubmit)="onSubmit()"
          novalidate
        >
          <!-- EMAIL -->
          <div class="form-group row">
            <label for="email" class="col-md-3 col-form-label" i18n>Email address</label>
            <div class="col-md-8">
              <input class="form-control" type="email" formControlName="email" />
            </div>
            <div class="col-md-8 offset-3" *ngIf="email.invalid && email.touched">
              <div class="text-danger small" *ngIf="email.errors.required" i18n>
                Email address is required
              </div>
              <div class="text-danger small" *ngIf="email.errors.email" i18n>
                Email address is not valid
              </div>
            </div>
          </div>

          <!-- PASSWORD -->
          <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label" i18n>Password</label>
            <div class="col-md-8">
              <input class="form-control" type="password" formControlName="password" autocomplete="off" />
            </div>
            <div class="col-md-8 offset-3 form-text text-muted" *ngIf="password.invalid && password.touched">
              <div class="text-danger small" *ngIf="password.errors.required">
                A password is required
              </div>
            </div>
          </div>

          <!-- BUTTONS  -->
          <div class="form-group row">
            <div class="col-md-9 offset-3">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="loginForm.invalid || (isLoggingIn$ | async)"
                i18n
              >
                <ng-container *ngIf="(isLoggingIn$ | async) === false" i18n>
                  Log In
                </ng-container>
                <app-spinner name="login" [show]="isLoggingIn$ | async" i18n>
                  Logging in
                </app-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <p><a routerLink="/forgot" i18n>Forgot password?</a></p>
        <p>
          <ng-container i18n="used in the login page">
            Don't have an account?
          </ng-container>
          <a routerLink="/register" i18n>Register</a>
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n>Login Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <mat-icon color="primary">warning</mat-icon>
      <ng-container i18n>
        Cannot log into the server at the moment.
      </ng-container>
    </div>
    <p i18n>
      Ensure the email address and password you entered are correct. Otherwise, please contact your web site
      administrator for more information.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">OK</button>
  </div>
</ng-template>
