<div class="pb-2 mt-4 mb-2">
  <h1>
    {{ shipment?.courierName }}: {{ shipment?.trackingNumber }}
    <small i18n>Add items to ship</small>

    <span class="float-right d-inline-block">
      <button class="btn btn-primary btn-sm mr-1" (click)="tagAsPacked()">
        <span i18n>Tag as packed</span>
        <mat-icon class="ml-1">arrow_right</mat-icon>
      </button>
      <button class="btn btn-primary btn-sm mr-1" (click)="tagAsSent()">
        <span i18n>Tag as sent</span>
        <mat-icon class="ml-1">fast_forward</mat-icon>
      </button>
    </span>
  </h1>

  <app-shipment-information-card [shipment]="shipment" (onRemove)="remove()"> </app-shipment-information-card>

  <app-shipment-add-specimens-card [shipment]="shipment"></app-shipment-add-specimens-card>

  <app-shipment-specimens-table
    [shipment]="shipment"
    [numPages]="maxPages$ | async"
    [totalSpecimens]="totalSpecimens$ | async"
    (sortBy)="sortBy($event)"
    (pageChanged)="paginationPageChange($event)"
  ></app-shipment-specimens-table>
</div>

<ng-template #packedTimeModal let-modal>
  <app-modal-input-date-time
    [title]="'Time the shipment was packed'"
    [label]="'Time Packed'"
    [value]=""
    [options]="packedTimeModalOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-date-time>
</ng-template>

<ng-template #sentTimeModal let-modal>
  <app-modal-input-double-date
    [title]="'Time the shipment was sent and packed'"
    [label]="'Time Sent'"
    [label2]="'Time Packed'"
    [date1value]=""
    [date2value]=""
    [options]="sentTimeModalOptions"
    (onConfirm)="confirm($event)"
    [modal]="modal"
  >
  </app-modal-input-double-date>
</ng-template>
