<form [formGroup]="filterForm" novalidate>
  <table
    #shipmentsTable
    matSort
    (matSortChange)="sortData($event)"
    matSortActive="courierName"
    matSortDirection="asc"
    class="table table-striped table-condensed"
  >
    <tr>
      <th mat-sort-header="courierName">
        <small i18n><b>Courier</b></small>
      </th>
      <th mat-sort-header="trackingNumber">
        <small i18n><b>Tracking#</b></small>
      </th>
      <th mat-sort-header="location">
        <small i18n
          ><b>{{ sourceLabel }}</b></small
        >
      </th>
      <th>
        <small i18n><b>Date</b></small>
      </th>
      <th *ngIf="mode !== 'completed'" mat-sort-header="state">
        <small i18n><b>State</b></small>
      </th>
      <th></th>
    </tr>

    <tr>
      <td>
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="courierName"
            placeholder="search for courier"
          />
        </div>
      </td>
      <td>
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="trackingNumber"
            placeholder="search for tracking#"
          />
        </div>
      </td>
      <td></td>
      <td></td>
      <td *ngIf="mode !== 'completed'">
        <div class="dropdown" ngbDropdown>
          <button
            class="btn btn-light btn-sm dropdown-toggle"
            type="button"
            ngbDropdownToggle
            id="state-filter-dropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ filterByLabel }}
          </button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="state-filter-dropdown">
            <a class="dropdown-item" (click)="filterUpdated()">Any</a>

            <a
              class="dropdown-item"
              *ngFor="let shipmentState of shipmentStates"
              (click)="filterUpdated(shipmentState)"
            >
              {{ shipmentState }}
            </a>
          </div>
        </div>
      </td>
      <th></th>
    </tr>

    <tr *ngFor="let shipment of shipments">
      <td>
        <small>{{ shipment.courierName }}</small>
      </td>
      <td>
        <small>{{ shipment.trackingNumber }} </small>
      </td>
      <td>
        <small *ngIf="mode == 'incoming' || mode == 'completed'">{{ shipment.fromLocationInfo.name }}</small>
        <small *ngIf="mode == 'outgoing'">{{ shipment.toLocationInfo.name }}</small>
      </td>
      <td>
        <small>{{ shipment.getTime() | localTime }}</small>
      </td>
      <td *ngIf="mode !== 'completed'">
        <small>{{ shipment.state }}</small>
      </td>
      <td>
        <span class="float-right d-inline-block" ngbDropdown placement="bottom-right">
          <button class="btn btn-sm btn-outline-secondary" type="button" id="shipmentMenu" ngbDropdownToggle>
            <mat-icon inline="true">more_vert</mat-icon>
          </button>

          <div class="dropdown-menu" ngbDropdownMenu role="menu" aria-labelledby="shipmentMenu">
            <a class="dropdown-item" (click)="shipmentView(shipment)">
              <mat-icon class="success-icon mr-1">search</mat-icon>
              <span i18n>View shipment</span>
            </a>
            <a class="dropdown-item" (click)="shipmentRemove(shipment)">
              <mat-icon class="danger-icon mr-1">remove_circle</mat-icon>
              <span i18n>Remove shipment</span>
            </a>
          </div>
        </span>
      </td>
    </tr>
    <tr *ngIf="shipments.length <= 0">
      <td colspan="6">
        <div class="alert alert-warning">
          <span i18n>No shipments found.</span>
        </div>
      </td>
    </tr>
  </table>
</form>

<div class="card-footer" *ngIf="numPages > 0">
  <ngb-pagination
    size="sm"
    [collectionSize]="totalShipments"
    [(page)]="currentPage"
    [maxSize]="totalShipments"
    [pageSize]="5"
    [rotate]="false"
    [boundaryLinks]="true"
    aria-label="Default pagination"
    (pageChange)="paginationPageChanged($event)"
  >
  </ngb-pagination>
</div>
