<form [formGroup]="filterForm" novalidate>
  <table
    #shipmentsTable
    matSort
    (matSortChange)="sortData($event)"
    matSortActive="courierName"
    matSortDirection="asc"
    class="table table-striped table-condensed"
  >
    <tr>
      <th mat-sort-header="courierName">
        <small i18n><b>Courier</b></small>
      </th>
      <th mat-sort-header="trackingNumber">
        <small i18n><b>Tracking#</b></small>
      </th>
      <th mat-sort-header="location">
        <small i18n
          ><b>{{ sourceLabel }}</b></small
        >
      </th>
      <th>
        <small i18n><b>Date</b></small>
      </th>
      <th *ngIf="mode !== 'completed'" mat-sort-header="state">
        <small i18n><b>State</b></small>
      </th>
      <th></th>
    </tr>

    <tr>
      <td>
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="courierName"
            placeholder="Filter by courier"
          />
          <div class="input-group-append">
            <button
              class="btn btn-sm btn-outline-secondary"
              type="button"
              [disabled]="!hasCourierNameFilterValue"
              (click)="clearCourierNameFilter()"
              ngbTooltip="Clear filter"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="trackingNumber"
            placeholder="Filter by tracking#"
          />
          <div class="input-group-append">
            <button
              class="btn btn-sm btn-outline-secondary"
              type="button"
              [disabled]="!hasTrackingNumberFilterValue"
              (click)="clearTrackingNumberFilter()"
              ngbTooltip="Clear filter"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td *ngIf="mode !== 'completed'">
        <div class="dropdown" ngbDropdown>
          <button
            class="btn btn-sm btn-secondary dropdown-toggle"
            type="button"
            ngbDropdownToggle
            id="state-filter-dropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ filterByLabel }}
          </button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="state-filter-dropdown">
            <a class="dropdown-item" (click)="filterUpdated()">Any</a>

            <a
              class="dropdown-item"
              *ngFor="let shipmentState of shipmentStates"
              (click)="filterUpdated(shipmentState)"
            >
              {{ shipmentState | titlecase }}
            </a>
          </div>
        </div>
      </td>
      <th></th>
    </tr>

    <tr *ngIf="loading">
      <td colspan="6">
        <div class="alert alert-warning" role="alert">
          <app-spinner name="shipments" [show]="loading" i18n>
            Loading...
          </app-spinner>
        </div>
      </td>
    </tr>

    <tr *ngFor="let shipment of shipments">
      <td>
        <small>{{ shipment.courierName }}</small>
      </td>
      <td>
        <small>{{ shipment.trackingNumber }} </small>
      </td>
      <td>
        <small>{{ getLocation(shipment) }}</small>
      </td>
      <td>
        <small>{{ shipment.getTime() | localTime }}</small>
      </td>
      <td *ngIf="mode !== 'completed'">
        <small>{{ shipment.state | titlecase }}</small>
      </td>
      <td>
        <app-dropdown-menu [menuItems]="menuItemsForShipment(shipment)" [placement]="'bottom-right'">
        </app-dropdown-menu>
      </td>
    </tr>
    <tr *ngIf="!loading && shipments.length <= 0">
      <td colspan="6">
        <div class="alert alert-warning">
          <span i18n>No shipments found.</span>
        </div>
      </td>
    </tr>
  </table>
</form>

<div class="card-footer" *ngIf="numPages > 1">
  <ngb-pagination
    size="sm"
    [collectionSize]="totalShipments"
    [(page)]="currentPage"
    [maxSize]="totalShipments"
    [pageSize]="5"
    [rotate]="false"
    [boundaryLinks]="true"
    aria-label="Default pagination"
    (pageChange)="paginationPageChanged($event)"
  >
  </ngb-pagination>
</div>
