<ng-container *ngIf="countData.length > 0; else showLoading">
  <ng-container *ngFor="let countInfo of countData; let isLast = last">
    <mat-icon [ngClass]="countInfo.iconClass">
      {{countInfo.icon}}
    </mat-icon>
    {{countInfo.count}}&nbsp;{{countInfo.stateLabel}}
    <ng-container *ngIf="!isLast">,&nbsp;</ng-container>
  </ng-container>
</ng-container>

<ng-template #showLoading>
  <app-spinner name="study-counts" [show]="countData.length === 0" i18n>
    Retrieving counts...
  </app-spinner>
</ng-template>
