<div class="row">
  <div class="col-sm-12 mt-4">
    <div class="card">
      <div class="card-header bg-primary text-light" i18n>Add Centre</div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="form" autocomplete="on" (ngSubmit)="onSubmit()" novalidate>
          <!-- NAME -->
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-lable" i18n>Name</label>
            <div class="col-md-10">
              <input
                #nameInput
                class="form-control"
                type="text"
                formControlName="name"
                i18n-placeholder
                placeholder="A short name for the centre"
              />
            </div>
            <div class="offset-2 col-md-10" *ngIf="name.invalid && name.touched">
              <div class="text-danger small" *ngIf="name.errors.required" i18n>
                A name is required
              </div>
            </div>
          </div>

          <!-- DESCRIPTION -->
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label" i18n>Description</label>
            <div class="col-md-10">
              <textarea
                class="form-control"
                formControlName="description"
                i18n-placeholder
                placeholder="A description of the centre (optional)"
              >
              </textarea>
            </div>
          </div>

          <!-- BUTTONS  -->
          <div class="form-group row">
            <div class="col-md-9 offset-3">
              <button
                class="btn btn-primary mr-2"
                type="submit"
                [disabled]="form.invalid || (isSaving$ | async)"
                i18n
              >
                <ng-container *ngIf="(isSaving$ | async) === false">
                  Submit
                </ng-container>
                <app-spinner name="studySaving" [show]="isSaving$ | async">
                  Saving
                </app-spinner>
              </button>
              <button class="btn btn-secondary" type="button" (click)="onCancel()" i18n>
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
