<app-modal-input [modalInputValid]="modalInputValid" (confirm)="confirm()" (dismiss)="dismiss()">
  <span class="title">{{ title }}</span>
  <form class="body form-horizontal" [formGroup]="form" autocomplete="on" novalidate>
    <!-- HIDDEN EMAIL: see https://www.chromium.org/developers/design-documents/create-amazing-password-forms -->
    <input id="emailfield" type="text" value="user.email" autocomplete="username" />

    <!-- CURRENT PASSWORD -->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>Current password</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="password"
          formControlName="input"
          autocomplete="current-password"
          ngbAutoFocus
        />
      </div>
      <div class="col-md-8 offset-3" *ngIf="input.invalid && input.touched">
        <div class="text-danger small" *ngIf="input.errors.required" i18n>
          Your current password is required
        </div>
        <div class="text-danger small" *ngIf="input.errors.minlength" i18n>
          A password with a minimum length of {{ input.errors.minlength.requiredLength }} is required
        </div>
      </div>
    </div>

    <!-- NEW PASSWORD -->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>New password</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="password"
          formControlName="password"
          autocomplete="new-password"
          ngbAutoFocus
        />
      </div>
      <div class="col-md-8 offset-3" *ngIf="password.invalid && password.touched">
        <div class="text-danger small" *ngIf="password.errors.required" i18n>
          A new password is required
        </div>
        <div class="text-danger small" *ngIf="password.errors.minlength" i18n>
          A value with a minimum length of {{ password.errors.minlength.requiredLength }} is required
        </div>
      </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>Confirm new password</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password"
          ngbAutoFocus
        />
      </div>
      <div class="col-md-8 offset-3" *ngIf="confirmPassword.invalid && confirmPassword.touched">
        <div class="text-danger small" *ngIf="confirmPassword.errors.required" i18n>
          Please enter your new password again
        </div>
      </div>
      <div class="col-md-8 offset-3" *ngIf="form.errors?.passwordsNonMatching && password.touched">
        <div class="text-danger small" i18n>
          Passwords do not match
        </div>
      </div>
    </div>
  </form>
</app-modal-input>
