<app-modal-input [modalInputValid]="modalInputValid"
                 (onConfirm)="confirm($event)"
                 (onDismiss)="dismiss($event)">
  <span class="title">{{title}}</span>
  <form class="body form-horizontal"
        [formGroup]="modalInputForm"
        autocomplete="on"
        novalidate>

    <!-- CURRENT PASSWORD -->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>Current password</label>
      <div class="col-md-8">
        <input class="form-control"
               type="password"
               formControlName="text"
               ngbAutoFocus>
      </div>
      <div class="col-md-8 offset-3" *ngIf="text.invalid && text.touched">
        <div class="text-danger small" *ngIf="text.errors.required" i18n>
          Your current password is required
        </div>
        <div class="text-danger small" *ngIf="text.errors.minlength" i18n>
          A password with a minimum length of {{text.errors.minlength.requiredLength}} is required
        </div>
      </div>
    </div>

    <!-- NEW PASSWORD -->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>New password</label>
      <div class="col-md-8">
        <input class="form-control"
               type="password"
               formControlName="password"
               ngbAutoFocus>
      </div>
      <div class="col-md-8 offset-3" *ngIf="password.invalid && password.touched">
        <div class="text-danger small" *ngIf="password.errors.required" i18n>
          A new password is required
        </div>
        <div class="text-danger small" *ngIf="password.errors.minlength" i18n>
          A value with a minimum length of {{password.errors.minlength.requiredLength}} is required
        </div>
      </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label" i18n>Confirm new password</label>
      <div class="col-md-8">
        <input class="form-control"
               type="password"
               formControlName="confirmPassword"
               ngbAutoFocus>
      </div>
      <div class="col-md-8 offset-3" *ngIf="confirmPassword.invalid && confirmPassword.touched">
        <div class="text-danger small" *ngIf="confirmPassword.errors.required" i18n>
          Please enter your new password again
        </div>
      </div>
      <div class="col-md-8 offset-3"
           *ngIf="modalInputForm.errors?.passwordsNonMatching && password.touched">
        <div class="text-danger small" i18n>
          Passwords do not match
        </div>
      </div>
    </div>
  </form>
</app-modal-input>
