<span class="float-right d-inline-block" ngbDropdown placement="bottom-right">
  <button class="btn btn-sm btn-outline-secondary"
          type="button"
          id="annotationTypeActions"
          ngbDropdownToggle>
    <mat-icon>more_vert</mat-icon>
  </button>

  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="annotationTypeActions">
    <a class="dropdown-item" (click)="view()">
      <mat-icon class="success-icon mr-1">search</mat-icon>
      <ng-container i18n>View</ng-container>
    </a>
    <a class="dropdown-item" *ngIf="modifyAllowed" (click)="edit()">
      <mat-icon class="success-icon mr-1">edit</mat-icon>
      <ng-container i18n>Edit</ng-container>
    </a>
    <a class="dropdown-item" *ngIf="modifyAllowed" (click)="remove()">
      <mat-icon class="danger-icon mr-1">remove_circle</mat-icon>
      <ng-container i18n>Remove</ng-container>
    </a>
  </div>
</span>
