<div class="row">
  <div class="col-sm-8 offset-2 mt-4">
    <div class="card">
      <div class="card-header bg-warning text-light" i18n>Forgot password</div>
      <div class="card-body">
        <form [formGroup]="forgotForm"
              (ngSubmit)="onSubmit()"
              autocomplete="on"
              novalidate>

          <!-- EMAIL -->
          <div class="form-group row">
            <label for="email" class="form-label" i18n>
              Enter the email address you registered to Biobank with to reset your password:
            </label>
            <input class="form-control"
                   type="email"
                   formControlName="email" />
            <div class="col-md-8"
                 *ngIf="email.invalid && email.touched">
              <div class="text-danger small" *ngIf="email.errors.required" i18n>
                Email address is required
              </div>
              <div class="text-danger small" *ngIf="email.errors.email" i18n>
                Email address is not valid
              </div>
            </div>
          </div>

          <!-- BUTTONS  -->
          <div class="form-group row">
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="forgotForm.invalid"
                    i18n>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n>Password Reset Failure</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <ng-container i18n>The account associated with the email</ng-container>
      <b> {{email.value}} </b>
      <ng-container i18n>is not active in the system.</ng-container>
    </div>
    <p i18n>Please contact your web site administrator for more information.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('OK')">OK</button>
  </div>
</ng-template>
