<app-breadcrumbs [crumbs]="breadcrumbs" *ngIf="userIsAuthenticated">
</app-breadcrumbs>
<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1 i18n>Welcome to Biobank</h1>
</div>
<ng-container *ngIf="userIsAuthenticated; else notLoggedIn">
  <div class="alert alert-warning" *ngIf="!hasRoles">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <ng-container i18n>
      Your user permissions are not valid. Please contact your website administrator.
    </ng-container>
  </div>

  <div class="row" *ngIf="hasRoles">
    <div class="col-md-12">
      <h2 i18n>Select a task</h2>
    </div>
  </div>

  <div class="row" *ngIf="hasRoles">

    <!-- COLLECTION -->
    <div class="col-md-4" *ngIf="allowCollection">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <ng-container i18n>Collection</ng-container>
            <span class="btn-group pull-right">
              <a ui-sref="home.collection" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p i18n>Record specimen collection.</p>
        </div>
      </div>
    </div>

    <!-- SHIPPING -->
    <div class="col-md-4" *ngIf="shippingAllowed">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <ng-container i18n>Shipping</ng-container>
            <span class="btn-group pull-right">
              <a ui-sref="home.shipping" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p i18n>Enter shipping information for specimens.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- ADMINISTRATION -->
    <div class="col-md-4" *ngIf="adminAllowed">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <ng-container i18n>Administration</ng-container>
            <span class="btn-group pull-right">
              <a ui-sref="home.admin" class="btn btn-xs btn-primary" type="button">Select</a>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <p i18n>Perform administrative tasks.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notLoggedIn>
  <div class="row">
    <div class="col-md-12" i18n>
      Please log in.
    </div>
  </div>
</ng-template>
