<div class="card mt-2">
  <div class="card-header">
    <ng-content select="[heading]"></ng-content>
  </div>

  <div class="card-body" *ngIf="isLoading">
    <div class="card-text">
      <div class="alert alert-warning" role="alert">
        <app-spinner name="loading" [show]="true" i18n>
          <ng-content select="[loadingMessage]"></ng-content>
        </app-spinner>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="pageInfo?.hasNoEntitiesToDisplay || pageInfo?.hasNoResultsToDisplay">
    <div class="card-text">
      <div class="alert alert-warning" role="alert">
        <mat-icon>warning</mat-icon>
        <ng-content select="[noEntitiesToDisplay]" *ngIf="pageInfo?.hasNoEntitiesToDisplay"></ng-content>
        <ng-content select="[noResultsToDisplay]" *ngIf="pageInfo?.hasNoResultsToDisplay"></ng-content>
      </div>
    </div>
  </div>

  <ul class="list-group list-group-flush" *ngIf="pageInfo?.hasResultsToDisplay">
    <ng-template ngFor let-entity [ngForOf]="pageInfo.entities" [ngForTemplate]="entityTemplate">
    </ng-template>
  </ul>

  <div class="card-footer pb-1" *ngIf="pageInfo?.showPagination">
    <ngb-pagination
      size="sm"
      [collectionSize]="pageInfo.total"
      [(page)]="page"
      [maxSize]="entitiesLimit"
      [pageSize]="entitiesLimit"
      [rotate]="false"
      [boundaryLinks]="true"
      (pageChange)="paginationPageChange($event)"
    >
    </ngb-pagination>
  </div>

  <div class="card-footer p-2">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
