<app-event-type-view-ui *ngIf="!(isLoading$ | async); else showLoading"
                        [eventType]="eventType"
                        [allowChanges]="(allowChanges$ | async)"
                        (updateNameSelected)="updateName($event)"
                        (updateDescriptionSelected)="updateDescription($event)"
                        (updateRecurringSelected)="updateRecurring($event)"
                        (addAnnotationTypeSelected)="addAnnotationType($event)"
                        (viewAnnotationTypeSelected)="viewAnnotationType($event)"
                        (editAnnotationTypeSelected)="editAnnotationType($event)"
                        (removeAnnotationTypeSelected)="removeAnnotationType($event)"
                        (addSpecimenDefinitionSelected)="addSpecimenDefinition($event)"
                        (viewSpecimenDefinitionSelected)="viewSpecimenDefinition($event)"
                        (editSpecimenDefinitionSelected)="editSpecimenDefinition($event)"
                        (removeSpecimenDefinitionSelected)="removeSpecimenDefinition($event)"
                        (removeEventTypeSelected)="removeEventType($event)">
</app-event-type-view-ui>

<ng-template #showLoading>
  <div class="card-header">
    <app-spinner name="login" [show]="true" i18n>
      Loading
    </app-spinner>
  </div>
</ng-template>

<ng-template #updateNameModal let-modal>
  <app-modal-input-text [title]="'Update Name'"
                        [label]="'New event name'"
                        [value]="eventType.name"
                        [options]="updateNameModalOptions"
                        (onConfirm)="confirm($event)"
                        [modal]="modal">
  </app-modal-input-text>
</ng-template>

<ng-template #updateDescriptionModal let-modal>
  <app-modal-input-textarea [title]="'Update Description'"
                            [label]="'New event description'"
                            [value]="eventType.description"
                            [options]="updateDescriptionModalOptions"
                            (onConfirm)="confirm($event)"
                            [modal]="modal">
  </app-modal-input-textarea>
</ng-template>

<ng-template #updateRecurringModal let-modal>
  <app-modal-input-boolean [title]="'Update Recurring'"
                           [label]="'New recurring value'"
                           [value]="eventType.recurring"
                           [options]="{ required: true }"
                           (onConfirm)="confirm($event)"
                           [modal]="modal">
  </app-modal-input-boolean>
</ng-template>
